* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

img {
  display: block;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  margin-inline: 97.5px;
  padding-inline: 32px;
  padding-block: 24px;
}

.padding {
  margin-inline: 222.5px;
  padding-inline: 16px;
}

.main {
  margin-top: 112px;
  margin-bottom: 80px;
  padding-top: 80px;
  display: grid;
  grid-column: 1;
  grid-template-columns: 1fr 1fr;
  color: white;
}
.main-left {
  display: grid;
  grid-column: 1;
  grid-template-columns: auto auto;
}
.main-right {
  display: grid;
}

.daytext {
  writing-mode: sideways-lr;
}

.maintext {
  font-size: 32px;
}
.maintext-2 {
  margin-top: 16px;
  margin-bottom: 24px;
}
.maintext-green {
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  height: 53.1875px;
  text-align: center;
  background-color: rgb(80, 165, 132);
}
.maintext-white {
  text-align: center;
  border: solid;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  height: 53.1875px;
  margin-left: 4px;
}

.playbot {
  margin-top: 32px;
  display: grid;
  grid-template-columns: auto auto;
}

.midtext {
  color: white;
  font-size: 35px;
  font-weight: 400;
}
.midtext-top {
  margin-bottom: 48px;
}
.midtext-top-top {
  margin-block: 29.05px;
}
.midtext-top-bot {
  margin-block: 29.05px;
}

.playlist {
  color: white;
}

.bottom {
  margin-inline: 222.5px;
  padding-inline: 16px;
  margin-top: 32px;
  margin-bottom: 80px;
}

.background-poster {
  width: 100%;
  box-sizing: border-box;
  display: block;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.5333333333), rgba(0, 0, 0, 0));
          mask-image: linear-gradient(rgba(0, 0, 0, 0.5333333333), rgba(0, 0, 0, 0));
  top: -300px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  position: absolute;
  z-index: -1;
  filter: blur(5px);
}

.img-square {
  display: block;
  width: 408px;
}